<ng-container axyBaseCss>
  <axy-header
      variant="outline"
      accentColor="orange"
      size="md"
      title="Axyus"
      subtitle="A modern UI component library" />

  <router-outlet></router-outlet>

  <axy-footer
      variant="ghost"
      accentColor="lightgreen"
      size="sm">
    <span left>© 2024 Axyus</span>
    <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, assumenda.</span>
    <span right>v0.1.0</span>
  </axy-footer>

</ng-container>

<!-- <ng-container>
<axy-header [variant]="'outline'" [accentColor]="'orange'" [size]="'md'"></axy-header>
<axy-card [variant]="'ghost'"
          [size]="'md'"
          [accentColor]="'orange'"
          [clickable]="true"
          [maxWidth]="'360px'">
  <h3 header>Ghost</h3>
  <p>Très léger, hover plus visible si cliquable.</p>
</axy-card>
<axy-footer [variant]="'ghost'"   [accentColor]="'lightgreen'" [size]="'sm'"></axy-footer>
</ng-container>
 -->


<!-- <axy-button
    axyLongPress
    appearance="outline"
    [disabled]="activations.first"
    (activated)=" activations.first = true ">
    <h3>Axy Button</h3>
    <div axyLongPressTarget style="height: 5px;"></div>
</axy-button>

{{ activations.first ? 'Disabled after LongPress' : 'Enabled'}}

<hr>

<axy-button
  axyLongPress
  appearance="outline"
  [disabled]="activations.second"
  (activated)=" activations.second = true ">
  Axy Button
</axy-button>

{{ activations.second ? 'Disabled after LongPress' : 'Enabled'}}

<hr>

<axy-button
  axyLongPress
  appearance="ghost"
  [disabled]="activations.third"
  (activated)=" activations.third = true ">
  Axy Button
</axy-button>

{{ activations.third ? 'Disabled after LongPress' : 'Enabled'}} -->

