Application
<axy-header></axy-header>

<axy-button
    axyLongPress
    appearance="outline"
    [disabled]="activations.first"
    (activated)=" activations.first = true ">
    <h3>Axy Button</h3>
    <div axyLongPressTarget style="height: 5px;"></div>
</axy-button>

{{ activations.first ? 'Disabled after LongPress' : 'Enabled'}}

<hr>

<axy-button
  axyLongPress
  appearance="outline"
  [disabled]="activations.second"
  (activated)=" activations.second = true ">
  Axy Button
</axy-button>

{{ activations.second ? 'Disabled after LongPress' : 'Enabled'}}

<hr>

<axy-button
  axyLongPress
  appearance="ghost"
  [disabled]="activations.third"
  (activated)=" activations.third = true ">
  Axy Button
</axy-button>

{{ activations.third ? 'Disabled after LongPress' : 'Enabled'}}

