<ng-container>
<axy-header [variant]="'outline'" [accentColor]="'orange'" [size]="'md'"></axy-header>
<axy-card [variant]="'ghost'"
          [size]="'md'"
          [accentColor]="'orange'"
          [clickable]="true"
          [maxWidth]="'360px'">
  <h3 header>Ghost</h3>
  <p>Très léger, hover plus visible si cliquable.</p>
</axy-card>
<axy-footer [variant]="'ghost'"   [accentColor]="'lightgreen'" [size]="'sm'"></axy-footer>
</ng-container>



<!-- <axy-button
    axyLongPress
    appearance="outline"
    [disabled]="activations.first"
    (activated)=" activations.first = true ">
    <h3>Axy Button</h3>
    <div axyLongPressTarget style="height: 5px;"></div>
</axy-button>

{{ activations.first ? 'Disabled after LongPress' : 'Enabled'}}

<hr>

<axy-button
  axyLongPress
  appearance="outline"
  [disabled]="activations.second"
  (activated)=" activations.second = true ">
  Axy Button
</axy-button>

{{ activations.second ? 'Disabled after LongPress' : 'Enabled'}}

<hr>

<axy-button
  axyLongPress
  appearance="ghost"
  [disabled]="activations.third"
  (activated)=" activations.third = true ">
  Axy Button
</axy-button>

{{ activations.third ? 'Disabled after LongPress' : 'Enabled'}} -->

